{%extends 'main/main_home_teachers.html'%} 
{%load static%}
{%block content%}

<a href="{% static 'students.xlsx' %}">
  <span style="display: block;">
  <style>
    p {
      background-color: darkblue;
      box-shadow: 0 5px 0 darkred;
      color: white;
      padding: 1em 1.5em;
      position: auto;
      text-decoration: none;
      text-transform: uppercase;
      width: 22%;
      text-align: center;
      display: inline-block;
      
    }
  </style>  
    <p>Open to upload Results</p>
</span>
  
</a>

<br><br><br><br><hr><hr>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn-success">Submit</button>
  </form>
{% endblock %}

